In [25]:
# Initialize Otter
import otter
grader = otter.Notebook("hwk1-task2-corals.ipynb")

# Task 2: Exploring coral diversity data

## Instructions 

- First, update the following cell to have a link to *your* Homework 1 GitHub repository:

**UPDATE THIS LINK:**

https://github.com/marietolteca00/eds220-hwk1.git

- This task covers topics on the lesson on [subsetting `pandas.DataFrames`](https://meds-eds-220.github.io/MEDS-eds-220-course/book/chapters/lesson-3-pandas-subsetting/lesson-3-pandas-subsetting.html). The best strategy to solve it is to get together with your classmates and work on it together after that lecture.

- Review the [complete rubric for this task](https://docs.google.com/document/d/131OnUDOLpOl94SlaMU9nGqT998ABrjFS/edit?usp=sharing&ouid=111507336322611936333&rtpof=true&sd=true) before starting.

- **Make at least 5 commits at moments you think are adequate.** We'll check your repository and view the commit history.

- **Add comments for all your code.** Err on the side of commenting too much for now. Comments should follow best practices.

<!-- BEGIN QUESTION -->


## 1
For this task we are going to use data about  [Western Indian Ocean Coral Diversity (McClanahan, 2023)](https://knb.ecoinformatics.org/view/doi%3A10.5063%2FF1K35S3H) from the Knowledge Network for Biocomplexity (KNB) data repository. 

a. Navigate to the dataset's link and explore the data package. 
 
b. Use the next markdown cell to add a brief description of the dataset, including a citation, date of access, and a link to the archive.

This dataset explores coral reef being threatend by climate change, with effective policies and management requires spatial prioritization for conservation investments.
- **Citation**: Tim McClanahan. (2023). Western Indian Ocean Coral Diversity. Knowledge Network for Biocomplexity. doi:10.5063/F1K35S3H.
- **Date of access** Year 2023
- **link to archive** https://doi.org/10.5063/F1K35S3Hl

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 2
In the next code cell, import the `pandas` package using standard abbreviation in a code cell.

Read in the data from the URL using the `pd.read_csv` function and store it as `coral_div` like this:

```
# read in data
coral_div = pd.read_csv('the URL goes here')
```

In [110]:
import pandas as pd
# importating data into variable
coral_div = pd.read_csv('data/coral_data.csv')

<!-- END QUESTION -->

## 3

Use attributes and methods of the `coral_div` data frame to obtain the following information about it:

Use the code cells marked a-e. For each, add a comment explaining what is the ouput.

a. how many rows and columns does it have? Store your answers in the `rows` and `columns` variables.

In [27]:
#a
rows = coral_div.shape[0]
columns = coral_div.shape[1]

In [28]:
grader.check("q3_a")

q3_a results: All test cases passed!

b. What are the column names? Store your answer in the `coral_div_columns` variable.

In [29]:
#b
coral_div_columns = list(coral_div)

In [30]:
grader.check("q3_b")

q3_b results: All test cases passed!

c. what are the data types of the columns? Store your answer in the `coral_div_types`.

In [34]:
#c
coral_div_types = coral_div.dtypes

In [35]:
grader.check("q3_c")

q3_c results: All test cases passed!

d. display the first 8 rows with all the column names. For this one, you will need to udpate a `pandas` option (HINT: check the first discussion section). Store your answer in the `first_8_rows` variable.

In [40]:
#d
# To remove the three dots inbetween the columns
pd.set_option("display.max.columns", None)


first_8_rows = coral_div.head(8)

In [41]:
# View the dataframe 
first_8_rows

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,Coralcover,SSTRateofRise,PARmax,Calcite,Dis_oxygen,mean.waveNRJ,Salinity_mean,andrello_reef_value,andrello_nutrients,mean.npp,TT_market_hrs,TT_pop_hrs,cumDHW,SST_Kurtosis,SST_Median,ChlorA_median,andrello_sediments,Current_vel_mean,Diff_attenuation,Grav_NP,Grav_NC,PH,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
0,7,39.076711,-5.490011,35,Tanzania,East African Coral Coast,UnfishedLow,Crest,Tim,11.0,45,0.019214,54.747001,0.001075,4.7495,3.714321,35.167646,0,8.388602,1139.112671,1.383333,0.366667,24.133263,-0.803330,27.435,0.465182,53540.007810,0.541991,0.09475,0.008503,32.387920,8.2175,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2019,2019,1
1,7,39.076711,-5.490011,22,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,2.0,45,0.019214,54.747001,0.001075,4.7495,3.714321,35.167646,0,8.388602,1139.112671,1.383333,0.366667,24.133263,-0.803330,27.435,0.465182,53540.007810,0.541991,0.09475,0.008503,32.387920,8.2175,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2010,2015,2
2,7,39.076711,-5.490011,25,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,4.0,45,0.019214,54.747001,0.001075,4.7495,3.714321,35.167646,0,8.388602,1139.112671,1.383333,0.366667,24.133263,-0.803330,27.435,0.465182,53540.007810,0.541991,0.09475,0.008503,32.387920,8.2175,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2015,2015,1
3,7,39.076711,-5.490011,26,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,3.0,45,0.019214,54.747001,0.001075,4.7495,3.714321,35.167646,0,8.388602,1139.112671,1.383333,0.366667,24.133263,-0.803330,27.435,0.465182,53540.007810,0.541991,0.09475,0.008503,32.387920,8.2175,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2016,2019,2
4,10,39.054253,-5.512514,27,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,1.5,48,0.020051,55.395000,0.001747,4.7510,3.270938,35.102688,0,6.731860,1126.355957,1.383333,0.366667,25.342901,-0.793681,27.455,0.700521,38477.105470,0.690454,0.11400,0.008503,32.387920,8.2180,0.461297,-0.134548,0.629000,0.011721,112.75,51.50,183.75,2010,2019,3
5,10,39.054253,-5.512514,29,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Tim,1.5,48,0.020051,55.395000,0.001747,4.7510,3.270938,35.102688,0,6.731860,1126.355957,1.383333,0.366667,25.342901,-0.793681,27.455,0.700521,38477.105470,0.690454,0.11400,0.008503,32.387920,8.2180,0.461297,-0.134548,0.629000,0.011721,112.75,51.50,183.75,2015,2015,1
6,15,39.054253,-5.535017,19,Tanzania,East African Coral Coast,Restricted,Crest,Tim,8.0,41,0.020051,55.395000,0.001747,4.7510,3.270938,35.102688,0,6.731860,1126.355957,1.383333,0.366667,25.342901,-0.793681,27.455,0.592692,38477.105470,0.690454,0.11400,0.008503,32.387920,8.2180,0.461297,-0.134548,0.595600,0.011721,112.75,51.50,183.75,2019,2019,1
7,39,39.009337,-5.647518,28,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,3.0,49,0.021358,54.935499,0.001744,4.7540,2.857747,35.106329,0,2.645199,1150.677856,1.783333,0.333333,30.265219,-0.795494,27.525,0.656533,3224.024414,0.561659,0.10500,0.512126,19.634828,8.2185,0.464874,-0.158601,0.626000,-0.063087,96.50,40.75,35.75,2015,2019,3

In [42]:
grader.check("q3_d")

q3_d results: All test cases passed!

<!-- BEGIN QUESTION -->

e. Write code to find out some other inital information you are interested in.

In [43]:
# e
coral_div.describe

<bound method NDFrame.describe of      PU_ID     PU_Lat     PU_Lon  Number_of_genera       Country  \
0        7  39.076711  -5.490011                35      Tanzania
1        7  39.076711  -5.490011                22      Tanzania
2        7  39.076711  -5.490011                25      Tanzania
3        7  39.076711  -5.490011                26      Tanzania
4       10  39.054253  -5.512514                27      Tanzania
..     ...        ...        ...               ...           ...
570  11681  32.878336 -27.011417                19  South Africa
571  11682  32.878336 -27.011417                18  South Africa
572  11683  32.878336 -27.011417                19  South Africa
573  11683  32.878336 -27.011417                19  South Africa
574  11683  32.878336 -27.011417                21  South Africa

                    Ecoregion   Management           Habitat Observer  Depth  \
0    East African Coral Coast  UnfishedLow             Crest      Tim  11.00
1    East African Coral Coast  UnfishedLow  Lagoon/Back reef  Nyawira   2.00
2    East African Coral Coast  UnfishedLow             Slope  Nyawira   4.00
3    East African Coral Coast  UnfishedLow             Slope  Nyawira   3.00
4    East African Coral Coast  UnfishedLow  Lagoon/Back reef  Nyawira   1.50
..                        ...          ...               ...      ...    ...
570                   Delagoa   Restricted             Slope     Sink  15.50
571                   Delagoa   Restricted             Slope   Carlos  12.00
572                   Delagoa   Restricted             Slope   Carlos  12.60
573                   Delagoa   Restricted             Slope   Porter  13.00
574                   Delagoa   Restricted             Slope     Sink  13.47

     Coralcover  SSTRateofRise     PARmax   Calcite  Dis_oxygen  mean.waveNRJ  \
0            45       0.019214  54.747001  0.001075      4.7495      3.714321
1            45       0.019214  54.747001  0.001075      4.7495      3.714321
2            45       0.019214  54.747001  0.001075      4.7495      3.714321
3            45       0.019214  54.747001  0.001075      4.7495      3.714321
4            48       0.020051  55.395000  0.001747      4.7510      3.270938
..          ...            ...        ...       ...         ...           ...
570          47       0.010503  55.098000  0.000271      4.8220     15.231829
571          47       0.010503  55.098000  0.000271      4.8220     15.231829
572          47       0.010503  55.098000  0.000271      4.8220     15.231829
573          47       0.010503  55.098000  0.000271      4.8220     15.231829
574          47       0.010503  55.098000  0.000271      4.8220     15.231829

     Salinity_mean  andrello_reef_value  andrello_nutrients     mean.npp  \
0        35.167646                    0            8.388602  1139.112671
1        35.167646                    0            8.388602  1139.112671
2        35.167646                    0            8.388602  1139.112671
3        35.167646                    0            8.388602  1139.112671
4        35.102688                    0            6.731860  1126.355957
..             ...                  ...                 ...          ...
570      35.301208                  275            0.168378  1054.313965
571      35.301208                  275            0.168378  1054.313965
572      35.301208                  275            0.168378  1054.313965
573      35.301208                  275            0.168378  1054.313965
574      35.301208                  275            0.168378  1054.313965

     TT_market_hrs  TT_pop_hrs     cumDHW  SST_Kurtosis  SST_Median  \
0         1.383333    0.366667  24.133263     -0.803330      27.435
1         1.383333    0.366667  24.133263     -0.803330      27.435
2         1.383333    0.366667  24.133263     -0.803330      27.435
3         1.383333    0.366667  24.133263     -0.803330      27.435
4         1.383333    0.366667  25.342901     -0.793681      27.455
..             ...         ...        ...           ...         ...
570       2.866667    0.250000  24.942308     -1.229474      25.665
571       2.866667    0.250000  24.942308     -1.229474      25.665
572       2.866667    0.250000  24.942308     -1.229474      25.665
573       2.866667    0.250000  24.942308     -1.229474      25.665
574       2.866667    0.250000  24.942308     -1.229474      25.665

     ChlorA_median  andrello_sediments  Current_vel_mean  Diff_attenuation  \
0         0.465182        53540.007810          0.541991           0.09475
1         0.465182        53540.007810          0.541991           0.09475
2         0.465182        53540.007810          0.541991           0.09475
3         0.465182        53540.007810          0.541991           0.09475
4         0.700521        38477.105470          0.690454           0.11400
..             ...                 ...               ...               ...
570       0.311570           10.147757          0.406402           0.10800
571       0.311570           10.147757          0.406402           0.10800
572       0.311570           10.147757          0.406402           0.10800
573       0.311570           10.147757          0.406402           0.10800
574       0.311570           10.147757          0.406402           0.10800

      Grav_NP    Grav_NC      PH  SST_bimodality  SST_Skewness  \
0    0.008503  32.387920  8.2175        0.462556     -0.128136
1    0.008503  32.387920  8.2175        0.462556     -0.128136
2    0.008503  32.387920  8.2175        0.462556     -0.128136
3    0.008503  32.387920  8.2175        0.462556     -0.128136
4    0.008503  32.387920  8.2180        0.461297     -0.134548
..        ...        ...     ...             ...           ...
570  0.004548   0.208307  8.2400        0.568628      0.084750
571  0.004548   0.208307  8.2400        0.568628      0.084750
572  0.004548   0.208307  8.2400        0.568628      0.084750
573  0.004548   0.208307  8.2400        0.568628      0.084750
574  0.004548   0.208307  8.2400        0.568628      0.084750

     ClimateStressModel   Netflow  Indegree  Outdegree  Retention  min_yr  \
0              0.596375  0.144498     98.25      74.75      14.00    2019
1              0.596375  0.144498     98.25      74.75      14.00    2010
2              0.596375  0.144498     98.25      74.75      14.00    2015
3              0.596375  0.144498     98.25      74.75      14.00    2016
4              0.629000  0.011721    112.75      51.50     183.75    2010
..                  ...       ...       ...        ...        ...     ...
570            0.371750  0.030092     15.75      17.00      86.50    2015
571            0.371750  0.030092     15.75      17.00      86.50    2007
572            0.371750  0.030092     15.75      17.00      86.50    2005
573            0.371750  0.030092     15.75      17.00      86.50    2022
574            0.371750  0.030092     15.75      17.00      86.50    2015

     max_yr  no_replicates
0      2019              1
1      2015              2
2      2015              1
3      2019              2
4      2019              3
..      ...            ...
570    2016              2
571    2007              2
572    2007             10
573    2022              4
574    2017             15

[575 rows x 42 columns]>

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 4

Some of the columns have data type `int64` and some have data type `float64`. What is the difference between these `int64` and `float64`?

- The difference between a float64 and int64 is that a float64 has a decimal numbers and the int64 are whole numbers.

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 5

The `Country` column indicates the country where the coral reef is located. Explain, in your own words, what is the ouput of `coral_div['Country']` and `coral_div['Country'].unique()`.

The difference between `coral_div['Country']` is that is shows all the rows where each country is shown. `coral_div['Country'].unique()` shows only the country's in the whole dataset.
- #coral_div['Country']
- #coral_div['Country'].unique()

<!-- END QUESTION -->

## 6

Check the dataset's [metadata file README_md.doc](https://knb.ecoinformatics.org/view/doi:10.5063/F1K35S3H) to find which column has information about who made an observation. How many observers collected this data? HINT: Check this [method for `pandas.DataFrame`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.nunique.html). Store your answer in the `unique_observers` variable.

In [53]:
coral_div.head(2)

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,Coralcover,SSTRateofRise,PARmax,Calcite,Dis_oxygen,mean.waveNRJ,Salinity_mean,andrello_reef_value,andrello_nutrients,mean.npp,TT_market_hrs,TT_pop_hrs,cumDHW,SST_Kurtosis,SST_Median,ChlorA_median,andrello_sediments,Current_vel_mean,Diff_attenuation,Grav_NP,Grav_NC,PH,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
0,7,39.076711,-5.490011,35,Tanzania,East African Coral Coast,UnfishedLow,Crest,Tim,11.0,45,0.019214,54.747001,0.001075,4.7495,3.714321,35.167646,0,8.388602,1139.112671,1.383333,0.366667,24.133263,-0.80333,27.435,0.465182,53540.00781,0.541991,0.09475,0.008503,32.38792,8.2175,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.0,2019,2019,1
1,7,39.076711,-5.490011,22,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,2.0,45,0.019214,54.747001,0.001075,4.7495,3.714321,35.167646,0,8.388602,1139.112671,1.383333,0.366667,24.133263,-0.80333,27.435,0.465182,53540.00781,0.541991,0.09475,0.008503,32.38792,8.2175,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.0,2010,2015,2

In [55]:
unique_observers = coral_div['Observer'].nunique()

In [56]:
grader.check("q6")

q6 results: All test cases passed!

## 7

The `Coralcover` column indicates the percent of hard coral cover in each 6 km reef cell surveyed.

<!-- BEGIN QUESTION -->

a)  Describe, in detail,  what kind of object `coral_div['Coralcover']>= 50` is.

The object is a pandas series, it returns boolean operators and only the single column.

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

b) What data is `coral_div[coral_div['Coralcover'] >= 50]` selecting?

Is a pandas dataframe because we are calling the dataframe, from the dataframe we are telling it to grab the `coralcover` column. When it produces the output it returns the whole dataframe not just the single column.

<!-- END QUESTION -->

## 8

Use code to find if there are there any sites with a 30% coral cover in Tanzania. Store your answer in the `coral_cover` variable.

In [76]:
coral_cover = coral_div[(coral_div['Coralcover'] == 30) & (coral_div['Country'] == 'Tanzania')]

In [77]:
# View the dataframe
coral_cover.head()

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,Coralcover,SSTRateofRise,PARmax,Calcite,Dis_oxygen,mean.waveNRJ,Salinity_mean,andrello_reef_value,andrello_nutrients,mean.npp,TT_market_hrs,TT_pop_hrs,cumDHW,SST_Kurtosis,SST_Median,ChlorA_median,andrello_sediments,Current_vel_mean,Diff_attenuation,Grav_NP,Grav_NC,PH,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
63,693,39.391121,-5.782490,10,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,5.000000,30,0.015676,52.992001,0.037043,4.7580,5.885771,35.099083,1156,1.507334,958.495666,0.950000,0.550000,30.656667,-0.940944,27.3625,0.225574,26.068680,0.716784,0.0730,0.004944,0.779117,8.215,0.490512,-0.101724,0.655600,-0.309514,77.0,65.25,147.50,2018,2018,2
64,697,39.391121,-5.804983,22,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,9.166667,30,0.015599,52.992001,0.037043,4.7580,5.285148,35.099083,1156,1.507334,968.100098,0.950000,0.550000,30.021056,-0.942581,27.3600,0.217308,26.068680,0.716784,0.0730,0.004944,0.779117,8.215,0.490769,-0.100365,0.683050,-0.309514,77.0,65.25,147.50,2010,2018,3
341,4294,39.211458,-4.814515,37,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,11.000000,30,0.018789,53.858002,0.002154,4.7170,3.129188,35.120766,0,1.233231,996.539490,1.216667,0.266667,23.736330,-0.779552,27.2450,0.470832,1746.570435,0.653534,0.1210,0.004043,42.349168,8.216,0.451293,-0.048992,0.608900,0.514920,46.0,49.50,82.75,2018,2018,1
342,4299,39.233916,-4.837043,26,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,12.500000,30,0.018789,53.937000,0.001265,4.7195,2.233872,35.125887,0,1.233231,1018.213928,1.550000,0.566667,23.736330,-0.779552,27.2500,0.462739,1746.570435,0.653883,0.1115,0.000879,25.914153,8.216,0.451293,-0.048992,0.601725,0.514920,46.0,49.50,82.75,2018,2018,2
343,4302,39.211458,-4.859570,31,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,7.000000,30,0.018462,54.015999,0.000377,4.7220,0.179306,35.131008,0,1.233231,1071.519775,1.550000,0.566667,23.285391,-0.784669,27.2600,0.469467,1746.570435,0.654233,0.1020,0.000879,25.914153,8.216,0.452402,-0.050477,0.595200,0.514920,46.0,49.50,82.75,2018,2018,1

In [78]:
grader.check("q8")

q8 results: All test cases passed!

## 9

We are interested in looking at the PH of sea water (`PH` column),  mean salinity (`Salinity_mean` column), and depth of survey location in meters (`Depth` column). Subset the data frame by selecting only these column. Store your answer in the `filtered_data` variable

In [92]:
filtered_data = coral_div[['PH', 'Salinity_mean','Depth']] # because coral_div is a series

In [86]:
# View the dataframe
filtered_data.head()

       PH  Salinity_mean  Depth
0  8.2175      35.167646   11.0
1  8.2175      35.167646    2.0
2  8.2175      35.167646    4.0
3  8.2175      35.167646    3.0
4  8.2180      35.102688    1.5

In [87]:
grader.check("q9")

q9 results: All test cases passed!

## 10
The `max_yr` column indicates the year of last sampling at a given site. Select the PH, salinity, and depth for sites where sampling ended in 2017. Store your answer in the `sampling_2017` variable. `Sampling_2017` should include the following columns in the following order: ` PH, Salinity_mean, Depth, max_yr`.

In [109]:
sampling_2017 = coral_div[['PH', 'Salinity_mean','Depth', 'max_yr']].loc[coral_div['max_yr'] == 2017]

In [107]:
# View the dataframe 
sampling_2017

         PH  Salinity_mean      Depth  max_yr
67   8.2150      35.100085  16.000000    2017
68   8.2145      35.144927  10.000000    2017
70   8.2150      35.101086  11.000000    2017
71   8.2150      35.101086  11.000000    2017
72   8.2150      35.101086   9.000000    2017
73   8.2150      35.101086   9.000000    2017
84   8.2110      35.278084  12.500000    2017
85   8.2110      35.278084   6.000000    2017
164  8.2220      35.337914   9.875000    2017
167  8.2220      35.337914  12.075000    2017
169  8.2220      35.337914  10.300000    2017
172  8.2220      35.337914  11.000000    2017
174  8.2225      35.287419   7.266667    2017
176  8.2225      35.287419  13.225000    2017
179  8.2225      35.287419  10.550000    2017
182  8.2220      35.331669  12.033333    2017
185  8.2230      35.374460  10.900000    2017
188  8.2230      35.374460  14.725000    2017
191  8.2230      35.247482   9.725000    2017
194  8.2230      35.341358  11.075000    2017
197  8.2230      35.390354  10.600000    2017
346  8.2165      35.114244   7.000000    2017
347  8.2165      35.112398   3.000000    2017
348  8.2165      35.112398   4.000000    2017
349  8.2160      35.117374   5.500000    2017
350  8.2160      35.117374   2.000000    2017
351  8.2160      35.117374  15.000000    2017
352  8.2160      35.117374   5.000000    2017
353  8.2165      35.149462  11.000000    2017
354  8.2160      35.270199   9.000000    2017
395  8.2400      35.276642   9.416667    2017
559  8.2120      35.204185   1.500000    2017
566  8.2400      35.301208  17.000000    2017
569  8.2400      35.301208  13.833333    2017
574  8.2400      35.301208  13.470000    2017

In [108]:
grader.check("q10")

q10 results: All test cases passed!

## 11
Use `iloc` to select rows 95 through 100 (including 100) in the 17th, 20th, and 28th columns and assign these values to a new variable called `subset`. View the new `subset` dataframe.

HINT: the ouput columns should be `Salinity_mean`, `mean.npp` and `Current_vel_mean` (in that order!).

In [ ]:
subset =

In [ ]:
# View the dataframe
subset

In [ ]:
grader.check("q11")

<!-- BEGIN QUESTION -->

## 12 

Run `subset.isna()`. Explain what this code does and what the output represents.

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 13
Run `subset.isna().any()`. Explain in your own words what this code does and what the output represents. HINT: check the [documentation of `pandas.Sries.any`](https://pandas.pydata.org/docs/reference/api/pandas.Series.any.html).

_Type your answer here, replacing this text._

<!-- END QUESTION -->

## 14 

Select the rows in `subset` that have NA in the `Current_vel_mean` column. Store your answer in the `subset_na` variable.

In [ ]:
subset_na = ...

In [ ]:
# View the dataframe 
subset_na

In [ ]:
grader.check("q14")

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [ ]:
grader.check_all()